.profile__add-button {
  margin: 35px 0 35px;
  padding: 0;
  background-image: url(../../../images/button-add.svg);
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: transparent;
  background-position: center;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: opacity .5s ease;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 567px) {
  .profile__add-button {
    width: 282px;
    margin: 0;
  }
}